@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";

// Home Section
.home-sec{
    height: 555px;

    @media screen and (max-width:$screen-lg) {
        height: 400px;
    }

    @media screen and (max-width:$screen-sm) {
        height: 200px;
    }

    .home-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// categories
.categories-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .catego-con{
        @include circle(110px);
        @include center;
        background-color: $white;
        border: 1px solid $border-color;

        .catego-img{
            max-width: 55px;
            max-height: 55px;
        }
    }

    .catego-name{
        font-size: 15px;
        color: $black;
    }
}

// categories-item-sm
.categories-item-sm{
    padding: 8px 12px;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 9px;
    min-width: 155px;

    .catego-img{
        max-width: 26px;
        max-height: 26px;
    }

    .catego-name{
        font-size: 14px;
        color: $black;
    }
}


// halls-sec
.halls-sec{
    background-color: $white;
}

// Cards
.cards-container{

    .main-card{
        box-shadow: $main-shadow;
        border-radius: 10px;
        overflow: hidden;
        transition: $main-transition;
        display: block;
        background-color: $white;

        .img{
            overflow: hidden;
            height: 180px;
    
            @media screen and (max-width:$screen-sm) {
                height: 150px;
            }
    
            @media screen and (max-width:$screen-xs) {
                height: 140px;
            }
    
            @media screen and (max-width:$screen-xxs) {
                height: 130px;
            }
    
            .card-img{
                width: 100%;
                height: 100%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                object-fit: cover;
                transition: $main-transition;
            }
        }
        
        .card-content{
            position: relative;
            padding: 15px 12px;
            
            .card-name{
                color: $black;
                font-size: 16px;
                margin-bottom: 14px;
                font-family: fontDemi;
    
                @media screen and (max-width:$screen-xs) {
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }
    
        }
    
        &:hover{
            .card-img{
                transform: scale(1.1)
            }
        }
    }

    &.material-cards{

        .main-card{
            display: flex;
            align-items: center;

            @media screen and (max-width:$screen-md) {
                display: block;
            }
            
            .img{
                width: 80px;
                height: 100%;
                min-height: 100px;
                flex-grow: 1;
                flex-shrink: 0;

                @media screen and (max-width:$screen-sm) {
                    height: 150px;
                    width: 100%;
                }
        
                @media screen and (max-width:$screen-xs) {
                    height: 140px;
                }
        
                @media screen and (max-width:$screen-xxs) {
                    height: 130px;
                }
                
                .card-img{
                    border-radius: 0;
                }

                &.sm{
                    height: 180px;
                }
            }
            
            .card-content{
                flex-grow: 1;
                padding: 10px 12px;

                .main-item{
                    .item-text{
                        white-space: wrap;
                        overflow: unset;
                        text-overflow: ellipsis;
                    }
                }
            }

            &:hover{
                transform: translateY(-7px);
                .card-img{
                    transform: unset
                }
            }
        }
    }

    .product-card{
        display: block;
        padding: 15px 15px;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0 2px 2px 0px rgba($color: #000000, $alpha: 5%);

        .img{
            height: 180px;

            .product-img{
                display: block;
                max-width: 130px;
                max-height: 180px;
                margin: 0 auto;
                transition: $main-transition;
            }
        }

        .content{
            margin-top: 15px;

            .product-name{
                font-size: 15px;
                line-height: 1.5;
                color: $black;
                margin-bottom: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

            .price{
                font-size: 17px;
            }
        }

        &:hover{
            .img{
                .product-img{
                    transform: scale(1.1);
                }
            }
        }
    }

}


// Banner Section
.banner-img{
    width: 100%;
    height: 238px;
    
    @media screen and (max-width:$screen-md) {
        object-fit: contain;
        height: 100px;
    }
}

// About Us

.about-container{
    @include between;
    gap: 100px;
    position: relative;

    @media screen and (max-width:$screen-lg2) {
        gap: 40px;
    }

    .info{
        font-size: 16px;
        color: $black;
        line-height: 1.8;
    }

    .about-logo-con{
        position: relative;
        width: 280px;
        height: 280px;

        @media screen and (max-width:$screen-lg) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // z-index: -1;
            opacity: .3;
        }

        @media screen and (max-width:$screen-xxs) {
            width: 230px;
            height: 230px;
        }


        &::after{
            content: '';
            position: absolute;
            @include circle(100%);
            border: 1px solid $orange;
            top: -20px;
            @include dir-right(-20px);
            z-index: 5;
        }

        .about-img{
            width: 280px !important;
            height: 280px !important;
            height: 100%;
            border-radius: 50%;
            margin: auto;
            object-fit: cover;

            @media screen and (max-width:$screen-xxs) {
                width: 230px !important;
                height: 230px !important;
            }
        }

        .about-logo{
            position: absolute;
            top: 50%;
            @include dir-left(-40px);
            @include circle(100px);
            z-index: 6;
            @include center;
            animation: bounceUp 3s infinite;
            background-color: $main;
            
            @media screen and (max-width:$screen-xxs) {
                @include circle(80px);
                @include dir-left(-30px);
            }
            
            .about-logo-img{
                object-fit: cover;
                max-width: 50px;
                max-height: 60px;
                @media screen and (max-width:$screen-xxs) {
                    max-width: 40px;
                    max-height: 50px;
                }
                
            }
        }
    }
}

@keyframes bounceUp {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0px);
    }
}


// order-item
.order-item{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $white;
    padding: 12px 16px;
    border-radius: 10px;
    transition: $main-transition;
    position: relative;

    .position-link{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    @media screen and (max-width:$screen-xs) {
        align-items: start;
        padding: 12px 10px;
        gap: 8px;
    }

    .order-img{
        width: 80px;
        height: 80px;
        @include center;
        border-radius: 8px;
        border: 1px solid $border-color;
        flex-shrink: 0;

        @media screen and (max-width:$screen-xs) {
            width: 68px;
            height: 68px;
        }

        .img{
            max-width: 55px;

            @media screen and (max-width:$screen-xs) {
                max-width: 40px;
            }
        }
    }

    .left{
        width: 100%;

        .top{
            @include between;
            margin-bottom: 20px;
            gap: 12px;
            flex-wrap: wrap;

            @media screen and (max-width:$screen-xs) {
                margin-bottom: 15px;
            }

            .order-name{
                font-size: 16px;
                color: $black;
                font-family: fontDemi;

                @media screen and (max-width:$screen-xs) {
                    font-size: 15px;
                }
            }

            .order-date{
                font-size: 13px;
                color: $dark3;
            }
        }

        .bottom{
            @include between;
            gap: 12px;

            .icon{
                font-size: 15px;
                color: $dark3;

                @media screen and (max-width:$screen-sm) {
                    display: none;
                }
            }
        }
    }

    .copy-item{
        position: relative;
        z-index: 10;
    }

    &:hover{
        box-shadow: $main-shadow;
        transform: translateY(-8px);
    }

    &.full{
        .order-img{
            object-fit: cover;
        }

        .left{
            .top{
                margin-bottom: 8px;
            }
        }
    }
}


// done Section
.done-sec{
    .done-img{
        max-width: 340px;
        max-height: 340px;
        margin-bottom: 25px;

        @media screen and (max-width:$screen-sm) {
            max-height: 235px;
            max-width: 220px;
        }
    }

    .title{
        font-size: 24px;
        color: $black;
        @include center;
        gap: 8px;
        margin-bottom: 12px;
        font-family: fontDemi;

        @media screen and (max-width:$screen-sm) {
            font-size: 20px;
        }


        .title-ic{
            max-width: 24px;

            @media screen and (max-width:$screen-sm) {
                max-width: 20px;
            }
        }
    }

    .info{
        margin-bottom: 25px;
        line-height: 1.6;

        @media screen and (max-width:$screen-sm) {
            font-size: 15px;
        }
    }

}